<div class="footer">
    <div class="footer1">
        <div >
            <h5>Company</h5>
           <a> <h6>About Last.fm </h6> </a>
           <a> <h6>Contact Us </h6> </a>
           <a> <h6>Jobs</h6> </a>
        </div>
    
        <div >
            <h5>Help</h5>
           <a> <h6>Track My Music </h6> </a>
           <a> <h6>Communnity Support </h6> </a>
           <a> <h6>Community Guidelines</h6> </a>
           <a> <h6>Help</h6> </a>
           
        </div>
        <div >
            <h5>Goodies</h5>
           <a> <h6>Download Scrobbler </h6> </a>
           <a> <h6>Develpoer Api </h6> </a>
           <a> <h6>Free Music Download</h6> </a>
           <a> <h6>Merchandise</h6> </a>

        </div>
        <div >
            <h5>Account</h5>
           <a> <h6 routerLink="signup">Signup </h6> </a>
           <a> <h6 routerLink="login">Login </h6> </a>
           <a> <h6>Subscribe</h6> </a>
           

        </div>
        <div >
            <h5>Follow us</h5>
           <a> <h6 >Facebook </h6> </a>
           <a> <h6 >Instagram </h6> </a>
           <a> <h6>Twitter</h6> </a>
           <a> <h6>YouTube</h6> </a>
           

        </div>
    </div>
<div class="line"></div>
    <div class="footer2">
      <h5>Time Zone : Asia</h5>
      <i class="fa-solid fa-music"></i>
    </div>
</div>
