<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="forgot.component.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="highlighted" class="hl-basic hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2"
      >
        <h1>Forgot Password</h1>
      </div>
    </div>
  </div>
</div>

<div id="content" class="interior-page">
  <div class="container-fluid">
    <div class="row">
      <!--Sidebar-->
      <div
        class="col-sm-3 col-md-3 col-lg-2 sidebar equal-height interior-page-nav hidden-xs"
      >
        <div class="dynamicDiv panel-group" id="dd.0.1.0">
          <div id="subMenu" class="panel panel-default">
            <ul class="subMenuHighlight panel-heading">
              <li class="subMenuHighlight panel-title" id="subMenuHighlight">
                <a
                  id="li_291"
                  class="subMenuHighlight"
                    
                  ><span routerLink="/signup">Register</span></a
                >
              </li>
            </ul>
            <ul class="panel-heading">
              <li class="panel-title">
                <a class="subMenu1" 
                  ><span class="subMenuHighlight" routerLink="/forgot"> Forgot Password</span></a
                >
              </li>
            </ul>
            <ul class="panel-heading">
              <li class="panel-title">
                <a class="subMenu1" ><span routerLink="/login">Login</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-10 content equal-height">
        <div class="content-area-right">
          <div class="row">
            <div class="col-md-5 forgot-form">
              <p>Please enter your email address and new password.</p>
              <label for="userName">Please Provide Your Email</label>

              <input
             
                name="email_addy"
                class="form-control"
                type="text"
                #userName
              /><br />
              <label for="password"> New Password</label>
              <input
              
                name="email_addy"
                class="form-control"
                type="password"
                #password
              /><br />

              <button
              
                id="mybad"
                class="btn btn-primary"
                (click)="btnUpdate(userName.value, password.value)"
              >
                RESET
              </button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
