
<div class="navbar">
    
    
    <i class="fa fa-compact-disc" id="i_1"></i>
    <i class="fa fa-angles-left" id="i_2"></i>
    <i class="fa fa-circle-play" id="i_3"></i>
    <i class="fa fa-angles-right" id="i_4"></i>
    <h2>Muzix App</h2>
    <span routerLink="music" style="cursor:pointer" > <i class="fa fa-magnifying-glass"  id="i_5"></i></span>
    <h5 routerLink="favourites" style="cursor:pointer"  id="h5_1">Favourites</h5>
    <h5 routerLink="music" style="cursor:pointer" id="h5_2">Music</h5>
    
    <button  class="login"  routerLink="login" >Login</button>
    <button class="signup" routerLink="signup" >Signup</button>

    
</div>

